.modal__wrapper {
  position: relative;
}
.modal__block {
  display: flex;
  justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}
.modal__block h3 {
  margin-bottom: 20px;
  text-align: center;
}
.modal__block h6 {
  margin-bottom: 20px;
  color: #a0a0a0;
  text-transform: uppercase;
  text-align: center;
}
.modal__block input {
  border: 1px solid #dbdbdb;
  height: 40px;
  margin-bottom: 50px;
}

.modal__close {
  position: absolute;
  top: -5px;
    right: -5px;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    line-height: 0;
}
.modal__close:hover {
  transform: rotate(180deg);
}
.modal-phoneconfirm__row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.modal-phoneconfirm__row_item {
  width: 300px;
  margin: 0 10px;
}
.modal-phoneconfirm__row_item input, .modal-phoneconfirm__row_item button {
  width: 100%;
}
.modal-phoneconfirm__row button {
  padding: 10px 40px;
}