.profile__main-input-item {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.profile__main-input-item button {
  padding: 0;
  border: 0;
}
.profile__main-input-item button:disabled {
  opacity: 0.3;
}
.profile__input-img {
  position: absolute;
  left: 7px;
  top: 13px;
}
.profile__input-block {
  margin-right: 10px;
}
.profile__input-descr {
  margin-right: 10px;
  font-size: 16px;
  font-weight: lighter;
}
.profile__input-editable {
  font-size: 18px;
  text-transform: uppercase;
  padding: 6px 10px 2px;
  border: 1px solid #d8d8d8;
}
.profile__input-editable:disabled {
  border: 1px solid #fff;
}
.profile__input-block .ant-select {
  width: 160px;
}
.profile__input-block .ant-select-disabled .ant-select-selection {
  background: none;
  border: 0;
}
.profile__input-block .ant-select-disabled .ant-select-arrow {
  display: none;
}